[submodule "src/include/hardware.inc"]
	path = src/include/hardware.inc
	url = https://github.com/gbdev/hardware.inc
[submodule "src/fortISSimO"]
	path = src/fortISSimO
	url = https://github.com/ISSOtm/fortISSimO.git
	branch = master
	update = rebase
